
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Meta Tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Homepage for Michael Renzi - web developer and data analyst">
    <meta name="author" content="Michael Renzi">
    <link rel="icon" href="../../favicon.ico">

    <title>{{ site.title }}</title>

    <!-- CSS Files -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/styles.css" rel="stylesheet">
    <link href="css/font-awesome-4.6.3/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700|Roboto:500" rel="stylesheet">
  </head>

  <body>
    <section id="title">
      <nav class="navbar navbar-fixed-top affix-top" data-spy="affix" data-offset-top="110">
        <div class="container-fluid title">
          <div class="navbar-header">
            <img src="img/mike.jpg" alt="Michael Renzi"/>
            <p class="title">{{ site.title }}</p>
          </div><!-- /.container-fluid -->
        </div>
      </nav>
    </section><!--title-->

    <section id="feature">
      <div class="container-fluid">
        <div class="row">
          <div class="centered col-sm-12 col-md-8 col-lg-6">
            <h1 class="feature">Hello, I'm Mike</h1>
            <p class="lead feature">I am a web developer and data science enthusiast with a Master of Arts in Applied Economics. I believe in the role of new technologies and big data in all degrees of problem-solving.</p>
          </div><!-- /.inner -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </section><!--feature-->
